body{
	background-color: grey;
}
div.container,.container-fluid{
	text-align: center;
	
	margin-top: 150px;
	background-color: #006bb3;
	padding: 30px;
	border-radius: 20px;
	border: 2px solid black;
	padding: 10px;
}