  .input{
        border:none;
      }


      input{
        border: none;
        border-color: transparent;
      }




  /*dd.css file*/
  body{
  background-color:grey;

  background :url("http://ichef.bbci.co.uk/wwfeatures/wm/live/1280_640/images/live/p0/5j/pm/p05jpmyf.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
} 
} 
      
h2 {
  text-align: center;
  font-size: 40px;
  background-color: #006bb3;
  padding-top: 20px;
  padding-bottom:20px;

}
input{
  width: 200px;
}

div.container{
  text-align: center; 
  padding-top: 30px;
  padding-bottom: 0px;
  margin-top: 70px;
  
  height: 450px;
  width: 300px;
  background-color: grey;
  border: 10px solid white;
  opacity: 0.8;
  border-radius: 10%;

}